#ignore files
_ReSharper.*
TestResults
bin
obj
TempPE
*.suo
**.vssscc
**.vspscc
**.ReSharper
**.user
**.cache
**/*.cache
**/*.dotcover
**/*.vspscc
UpgradeLog*.XML
**/UpgradeReport*.*
**.Publish.xml
debug.log
**.scc
**.orig
**.dbmdl
**.ldf
**.mdf