<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="out.provider" value="SQLCC.Impl.HtmlCodeHighlighter.HtmlOutputProvider, SQLCC.Impl.HtmlCodeHighlighter"/>
      <add key="out.outputDir" value="C:\Code\sqlcc_output"/>
      
      <add key="tcf.provider" value="SQLCC.Impl.MsSqlProvider.MsSqlDbTraceCodeFormatter, SQLCC.Impl.MsSqlProvider"/>
      <add key="hcp.provider" value="SQLCC.Impl.HtmlCodeHighlighter.HtmlHighlightCodeProvider, SQLCC.Impl.HtmlCodeHighlighter"/>

      <add key="dbp.provider" value="SQLCC.Impl.MsSqlProvider.MsSqlProvider, SQLCC.Impl.MsSqlProvider"/>
      <add key="dbp.traceDir" value="C:\Code"/>
      <add key="dbp.connString" value="Data Source=localhost;Initial Catalog=OnePlace32_DEV;Trusted_Connection=True"/>
      <add key="dbp.applicationName" value="OnePlace32Dev" />
   </appSettings>
</configuration>
