<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="outputProvider" value="SQLCC.Impl.HtmlCodeHighlighter.HtmlOutputProvider, SQLCC.Impl.HtmlCodeHighlighter"/>
      <add key="outputDirectory" value="C:\Code\sqlcc_output"/>
      
      <add key="codeFormatProvider" value="SQLCC.Impl.MsSqlProvider.MsSqlDbTraceCodeFormatter, SQLCC.Impl.MsSqlProvider"/>
      <add key="codeHighlightProvider" value="SQLCC.Impl.HtmlCodeHighlighter.HtmlHighlightCodeProvider, SQLCC.Impl.HtmlCodeHighlighter"/>

      <add key="databaseProvider" value="SQLCC.Impl.MsSqlProvider.MsSqlProvider, SQLCC.Impl.MsSqlProvider"/>
      <add key="databaseTraceDirectory" value="C:\Code"/>
      <add key="databaseConnectionString" value="Data Source=localhost;Initial Catalog=AdventureWorks;Trusted_Connection=True"/>
      <add key="databaseApplicationName" value="SQLCC" />
   </appSettings>
</configuration>
